*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3a3232;
    background-image: linear-gradient(45deg, #3a3232 0%, #ffffff71 100%);
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
}

.container{
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    overflow: auto;
    scrollbar-width: none;
}

.heading{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.heading img{
    height: 50px;
}

.addToDo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding: auto 10px;
}

.addToDo input{
    flex: 1;
    background: transparent;
    font-size: 1rem;
    padding-left: 20px;
    border-radius: 15px;
    font-weight: medium;
    outline: none;
    border: none;
}

.addToDo button{
    font-size: 1rem;
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    background-color: rgba(128, 128, 128, 0.677);
}

.addToDo button:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.829);
}


ul li{
    list-style-type: none;
    font-size: medium;
    padding: 0.7rem;
    position: relative;
    padding: 12px 8px 12px 30px;
    display: flex;
    align-items: center;
    padding-right: 3rem;
}

ul li:hover{
    list-style-type: none;
    font-size: medium;
    padding: 12px 8px 12px 30px;
    cursor: pointer;
}

li::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 15px;
    left: 0px;
}

ul li.checked{
    text-decoration: line-through;
}

ul li.checked::before{
    text-decoration: line-through;
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(images/checked.png);
    background-size: cover;
    background-position: center;
    top: 15px;
    left: 0px;
}

span{
    position: absolute;
    right: 0;
    font-size: 20px;
    text-align: center;
    padding: 2px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

span:hover{
    position: absolute;
    background-color: rgba(128, 128, 128, 0.437);
}

footer{
    color: white;

}





